.images1 {
  width: 300px;
  height: 125px;
  margin: 1%;
  max-width: 275px;
  object-fit: contain;
  background-color: white;
  padding: 30px;
  margin-left: 30px;
  position: relative;
  border-radius: 10px;
  object-fit: contain;
  z-index: 18;
}

.cSpon {
  position: relative;
  border-radius: 10px;
}

.titleSs {
  color: white;
  font-size: 24px;
}

.bborder {
  height: 100%;
  overflow: hidden;
}

.sponsor-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
}

.sponsor {
  position: relative;
  margin-right: 10px;
  text-align: center;
  background-color: white;
}

.sponsor img {
  width: 100px; /* Adjust as needed */
  height: auto;
  display: block;
}

.sponsor .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
}

.sponsor-title {
  color: #08b2aa;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin-left: 30px;
}
