@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.sectionMargin {
  margin-top: 3rem;
  margin-bottom: 10rem;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #030712;
}

::-webkit-scrollbar-thumb {
  background-color: #f5af64;
  border-radius: 20px;
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 4s ease infinite;
}

.countDown {
  text-shadow: 0 0 10px rgba(245, 175, 100, 0.1),
    0 0 20px rgba(245, 175, 100, 0.3), 0 0 30px rgba(245, 175, 100, 0.6);
}

*::selection {
  color: white;
  background-color: #f5af64;
}
